<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yiqu.iyijiayi">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
    <application
        android:name="com.yiqu.Tool.Common.CommonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/fm_full_AppBaseTheme">
        <activity
            android:name="com.Control.Start.WelcomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.yiqu.Control.Main.RecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"/>
        <activity
            android:name="com.yiqu.Control.Main.PlayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yiqu.Control.Main.RecordActivityForRecordFrag"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.yiqu.Control.Main.RecordOnlyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".StubActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"/>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"/>
        <activity
            android:name=".fragment.tab3.Tab3Activity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yiqu.iyijiayi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yiqu.iyijiayi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".CommentActivity"
            android:theme="@style/dialogstyle"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58d1d55482b63508ae0007b6"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>